$primary-color:#000000;
$primary-text-color:#000000;
$primary-link:#333333;
$primary-button-hover:rgba(0, 0, 0, 0.07);
$secondary-button-hover:#000000;
$button-dark-text-color:white;
$clearCircularButtonFillHover: rgba(0,0,0,.07);