/* You can add global styles to this file, and also import other style files */
@import "variables";

// @font-face {
//     font-family: 'POE Sans Pro';
//     src: url("assets/font/poe-sans-pro/POE\ Sans.ttf") format("truetype");
//     font-weight: 400;
// }

* {
    font-family: "IBM Plex Sans", sans-serif;
    overflow-x: hidden;
}
.btn-primary {
    border-radius: 20px !important;
    background: $primary-color !important;
    border: none !important;
}

.owl-prev,
.owl-next {
    width: 25px;
    height: 50px;
    position: absolute;
    top: 10px;
    transform: translateY(-30%);
    display: flex !important;
    border: 0px solid black;
    justify-content: center;
    align-items: center;
    background: rgb(255 255 255 / 79%) !important;
    margin: 0 !important;
}

.owl-prev {
    left: 0px;
}
.owl-next {
    right: 0px;
}
.owl-prev i,
.owl-next i {
    // transform: scale(2, 5);
    color: #000000;
}
